# CURE Project - Deeliverable 1
## Mathias Bathe - UCID 10183560

## TASK 1
- Create a variable 'emissions' and assign to it the following data in Table 1 as padas DataFrame
- Create an excel file 'emissions_from_pandas.xlsx' from the 'emissions' variable using python

In [7]:
import pandas as pd

# Given Data from Table 1
low_altitude = [1.50, 1.48, 2.98, 1.40, 3.12, 0.25, 6.73, 5.30, 9.30, 6.96, 7.21, 0.87, 1.06, 7.39, 1.37]
high_altitude = [7.59, 2.06, 8.86, 8.67, 5.61, 6.28, 4.04, 4.40, 9.52, 1.50, 6.07, 17.11, 3.57, 2.68, 6.46]
data = {"Low Altitude": low_altitude, "High Altitude": high_altitude} #dictionary for given data

# Create a table using pandas (DataFrame)
emissions = pd.DataFrame(data)

# Save to excel
emissions.to_excel("emissions_from_pandas.xlsx", index=False) # index=False to remove row numbers

## iloc[] Method 
- Show the outputs of the DataFrame using the .iloc[] method

In [9]:
emissions.head()

   Low Altitude  High Altitude
0          1.50           7.59
1          1.48           2.06
2          2.98           8.86
3          1.40           8.67
4          3.12           5.61

In [10]:
emissions.iloc[0,0]

1.5

In [11]:
emissions.iloc[1,1]

2.06

In [12]:
emissions.iloc[0:2,0:2]

   Low Altitude  High Altitude
0          1.50           7.59
1          1.48           2.06

In [13]:
emissions.iloc[2:4,:]

   Low Altitude  High Altitude
2          2.98           8.86
3          1.40           8.67

## File Conversion

- Create MS Excel file 'emissions_excel.xlsx' containing the data in Table 1 with the column header

In [ ]:
# Create xl File
emissions.to_excel("emissions_from_pandas.xlsx", index=False) # index=False to remove row numbers

In [ ]:
- Create an MS Excel file 'emissions_excel.xlsx' containing the